.register-container {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 2px 2px 4px #FFFFFF;
  backdrop-filter: blur(2px);
  border-radius: 15px;

  .register {
    position: relative;
    overflow: hidden;

    .form-container {
      position: relative;
      height: 535px;
      padding: 1rem;
    }
  }
}

