.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.games-container {
  .games-cards {
    height: 500px;
    border-radius: 15px;

    .one-card {
      position: relative;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      overflow: hidden;
      transition: all 0.5s;

      img {
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
      }

      p {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: all 0.5s;
      }
    }
  }
}

.games-container .games-cards .one-card:hover {
  transform: scale(1.05);
}

.grabbable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

// Override Material Styling
::ng-deep .drag-scroll-content {
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

::ng-deep .mat-mdc-form-field-icon-suffix {
  padding-right: 20px !important;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
