<div class="container-fluid h-100 position-relative">
  <div class="row h-100">
    <drag-scroll [scrollbar-hidden]="true" class="games-container overlay grabbable d-flex justify-content-between align-items-center px-5">
        <div class="games-cards col-12 col-sm-6 col-xl-4 col-xxl-3 px-5 mb-5" *ngFor="let game of ((games$ | async).length ? (games$ | async) : (gamesBackup$ | async))">
          <div class="one-card w-100 h-100" (click)="onView(game)">
            <img class="w-100 h-100" [src]="game.background_cover" (load)="onImageLoad($event)" alt="Game">
            <p class="w-100 text-white p-3 mb-0">{{ game.title }}</p>
          </div>
        </div>
    </drag-scroll>
  </div>
</div>
