.nav-container {
  position: relative;
  z-index: 999;
}

.main-games-container {
  background: url('../assets/img/background_1.svg');
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 76px);
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
