.nav-container {
  position: relative;
  z-index: 999;
}

.main-games-container {
  background: url('../assets/img/background_1.svg');
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 76px);
}
