<div class="container-fluid">
  <div class="row">
    <nav class="navbar col-12 d-flex justify-content-between align-items-center ps-4 pe-4">
      <!-- Brand -->
      <div class="brand col-3 d-flex align-items-center">
        <div class="brand_logo">
          <img src="https://firebasestorage.googleapis.com/v0/b/angames-project.appspot.com/o/Background%2FLogo.svg?alt=media&token=ab11a6aa-7af9-43af-be43-c480d2db272d" alt="Logo">
        </div>
        <div class="brand_title">
          <h3 (click)="onHome()">An'Games</h3>
        </div>
        <button class="song bg-white d-none d-sm-block ms-4" (click)="onActivated()">
          <i class="bi bi-music-note-beamed"></i>
          <i class="bi bi-slash-circle-fill" *ngIf="songService.isMuted"></i>
        </button>
      </div>
      <!-- Power -->
      <div class="power col-9 d-flex justify-content-end align-items-center">
        <div class="user-connected d-none d-sm-block">
          <p class="me-3 mb-0">{{ authData.getCurrentEmail() }}</p>
        </div>
        <div class="dropdown">
          <button class="power_btn dropdown-toggle bg-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-power" [ngClass]="{'active': (isAuth$ | async)}"></i>
          </button>
          <ul class="dropdown-menu">
            <li *ngIf="(isAuth$ | async) === false"><a class="dropdown-item" (click)="onAuth('login')">Login</a></li>
            <li *ngIf="(isAuth$ | async) === false"><a class="dropdown-item" (click)="onAuth('signup')">Signup</a></li>
            <li *ngIf="(isAuth$ | async) === true"><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
