<!-- Modal Game -->
<div class="row w-100 view-container mx-0">
  <div class="game-container col-12 d-flex justify-content-between px-0">
    <!-- Image -->
    <div class="d-none d-lg-block col-lg-9 game-cover p-4">
      <img [src]="gameData['background_cover']" class="w-100 h-100" alt="Publication">
    </div>
    <!-- Admin -->
    <div class="col-12 col-lg-3 px-3 px-lg-0 position-relative py-4">
      <p><strong>Description</strong></p>
      <div class="description">
        <span>
          {{ gameData['description'] }}
        </span>
      </div>
      <hr>
      <!-- Comment Input -->
      <div class="row">
        <div id="reply-box" class="h-100">
          <div *ngFor="let comment of comments" [ngClass]="{'comment-container': true}">
            <div>
              <p class="comment-name">{{comment?.pseudo | titlecase}}</p>
              <p [ngClass]="{'comment': true, 'creator-comment': isCommentCreator(comment)}">
                {{comment?.content}}</p>
            </div>
          </div>
        </div>
        <form class="comment-form w-100" *ngIf="(isAuth$ | async)">
          <mat-form-field class="comment-full-width" appearance="fill">
            <mat-label>Comment</mat-label>
            <input type="text" matInput #commentInput autocomplete="off">
            <mat-icon matSuffix class="send-icon text-custom" (click)="onAddComment(commentInput)">send
            </mat-icon>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>
